.card-container-column{
    background-image: url(background-pic.png);
    
    
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    

}
.card-container-row{
    background-image: url(background-pic.png);
    
    
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.loader-text{
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    font-size: xx-large;
    margin-top: 200px;
    margin-bottom: 200px;
}