.card-container-column{
    background-image: url(background-pic.png);
    
    
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    

}
.card-container-row{
    background-image: url(background-pic.png);
    
    
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 90%;
    overflow: hidden;
    border: solid red 1px;
}
.loader-text{
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    font-size: xx-large;
    margin-top: 200px;
    margin-bottom: 200px;
}

/*@media only screen and (max-width: 600px) {
    .card-container-row{
    background-image: url(background-pic.png);
    
    flex-direction: none;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: fit-content;
    overflow: hidden;
    border: solid red 1px;
    }
}*/