header{
    background-image: linear-gradient(to top right, grey, black);
    background-image: linear-gradient(to top, #2b2929 0%, #0a0411 100%);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
}
.header-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.header-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.header-logo{
    margin-top: 10px;
    height: 80px;
    width: 80px;
}
.header-title{
    margin-top: 30px;
    word-wrap: normal;
}
section{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: baseline;
    text-align: center;
    margin-left: 5px;
}
.buscador{
    margin: 10px;
    width: 70%;
    height: 20px;
    font-size: large;
}
.order{
    color: aliceblue;
    font-size: large;
}
.agrega-tarjetas{
    width: 20%;
    height: 20%;
    font-size: large;
    font-family: 'Nunito', sans-serif;
    min-width: fit-content;
    padding: 1px;
    margin-bottom: 10px;
    
}

@media only screen and (max-width: 822px) {
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;   
    }
}

@media only screen and (max-width: 600px){
    section{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 1px;
    }
    .agrega-tarjetas{
        width: 20%;
        height: 20%;
        min-width: none;
    }
}