footer{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, gray, black);
    background-image: linear-gradient(to bottom, #2b2929 0%, #0a0411 100%);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    
}
.footer-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.footer-logo{
    height: 100px;
    width: 100px;
}
.footer-develop{
    align-items: center;
}
.team{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    font-size-adjust: 10px;
}

@media only screen and (max-width: 426px) {
    .team{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2px;
    }
}